<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorRegister</servlet-name>
        <servlet-class>com.software.ingenieria.tarcine.controlador.ControladorRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CotroladorLogin</servlet-name>
        <servlet-class>com.software.ingenieria.tarcine.controlador.CotroladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCerrarSesion</servlet-name>
        <servlet-class>com.software.ingenieria.tarcine.controlador.ControladorCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTarjeta</servlet-name>
        <servlet-class>com.software.ingenieria.tarcine.controlador.ControladorTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRecarga</servlet-name>
        <servlet-class>com.software.ingenieria.tarcine.controlador.ControladorRecarga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorOpcionPelicula</servlet-name>
        <servlet-class>com.software.ingenieria.tarcine.controlador.ControladorOpcionPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInfoPeliculas</servlet-name>
        <servlet-class>com.software.ingenieria.tarcine.controlador.ControladorInfoPeliculas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorRegister</servlet-name>
        <url-pattern>/registrando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CotroladorLogin</servlet-name>
        <url-pattern>/ingresando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTarjeta</servlet-name>
        <url-pattern>/Tarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRecarga</servlet-name>
        <url-pattern>/Recarga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorOpcionPelicula</servlet-name>
        <url-pattern>/peliculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInfoPeliculas</servlet-name>
        <url-pattern>/infomacionPeli</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
